*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(0, 75, 160), rgb(0, 93, 231));
}

.calculator{
    align-content: center;
    justify-content: center;
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > .button {
    outline: none;
    cursor: pointer;
    border: 1.5px solid white;
    background-color: rgba(255, 255, 255, .80);
    font-size: 2rem;
}

.calculator > button:hover {
    background-color: rgba(255, 255, 255, .9);
}


.equal, .AC {
    grid-column: span 2;
}

.screen {
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .75);
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
}

.screen .previousInput{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.screen .currentInput{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}